body {
  background-color: #f8ebf1;
}

.title {
  font-family: "Cursive", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.custom-btn {
  background: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #884444;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.custom-btn:hover {
  background: #f5d5df;
  transform: scale(1.05);
}

.loading-text {
  font-weight: bold;
  color: #007bff;
}

.error-text {
  font-weight: bold;
  color: red;
}

.card {
  background: white;
  border-radius: 10px;
}
